<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    <title> Asım Mert Topal </title>
    <link rel="icon" href="images/ma3.png" type="">

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-11 offset-md-1 px-0">
              <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                <a class="navbar-brand" href="index.ejs">
                  <span>
                    Asım Mert  Topal
                    
                  </span>
                </a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <div
                    class="d-flex ml-auto flex-column flex-lg-row align-items-center"
                  >
                    <ul class="navbar-nav  ">
                      <li class="nav-item active">
                        <a class="nav-link pl-0" href="#index"
                          >Ana Sayfa <span class="sr-only">(current)</span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#about"> Hakkımda (Cv) </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"href="#projects">Projelerim </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"href="#info">Biyografi</a>
                      </li>
                     
                    
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- end header section -->

      <!-- slider section -->
      <div class="slider_section">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 offset-lg-1">
                    <div class="detail-box">
                      <div class="heading_box">
                        <h2>Merhaba <span>Ben; </span></h2>
                        <h1>
                          Asım Mert
                        </h1>
                      </div>
                      <div>
                        <a href="">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 px-0">
                    <div class="img-box">
                      <img src="images/ma3.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
           
          </div>
        </div>
        <div class="slider_btn-container">
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- end slider section -->
    </div>
    <!-- end hero area -->

    <!-- design section -->
    <div class="info-box">
    <section class="design_section layout_padding-top">
      <div class="container">
        <div class="heading_container">
          <h2>
            Back-end Developer
          </h2>
        </div>
        <div class="design_container layout_padding2">
          <div class="box b-1">
            <h5>
              Node.js <br />
              Geliştiricisi
            </h5>
          </div>
          <div class="box b-2">
            <h5>
              HTML,CSS<br />
              JavaScript
            </h5>
          </div>
          <div class="box b-3">
            <h5>
              Java <br />
              SpringBoot
            </h5>
          </div>
        </div>
      </div>
    </section>

    <hr class="section_hr" />

    

    <!-- end design section   -->
    <div>
      <hr class="section_hr" />
    </div>
    <!-- about section -->
    <section class="about_section layout_padding-bottom" id="about">
      <div class="container">
        <div class="heading_container">
          <h2>
            Hakkımda
          </h2>
        </div>
   
        <div class="box layout_padding2-top layout_padding-bottom">
          <div class="split-container">
            <div class="split-box">
              <h3>Java Geliştirme Projeleri Deneyimi:</h3>
              <p>
                Ben, Java üzerinde bir dizi önemli projeyi başarıyla tamamlamış bir yazılım geliştiriciyim. Şimdiye kadar gerçekleştirdiğim projeler arasında <strong>İnsan Kaynakları Yönetim Sistemi, Forum Sitesi, Stok Takip Projesi, E-Ticaret Simülasyonu ve RentAcar</strong> gibi çeşitli alanlarda uygulamalar bulunuyor.
              </p>
              <p>
                <strong>İnsan Kaynakları Yönetim Sistemi:</strong> İş arayanların ve işverenlerin buluştuğu bir platform oluşturdum. Bu platform, iş arama, başvuru yapma ve ilan oluşturma gibi temel işlevleri barındırırken kullanıcı odaklı bir arayüzle tasarlandı.
              </p>
              <p>
                <strong>Forum Sitesi:</strong> Kullanıcıların içerik paylaşabildiği, etkileşimde bulunabildiği ve fikirlerini paylaşabildiği bir platform geliştirdim. Kullanıcıların yorum yapabildiği, beğeni verebildiği ve etkileşimde bulunabildiği bir ortam oluşturmayı hedefledim.
              </p>
              <p>
                <strong>Stok Takip Projesi:</strong> Envanter yönetimi ve stok takibi sağlayan bir uygulama geliştirdim. Verimliliği artırmak ve iş süreçlerini optimize etmek için bu projeyi hayata geçirdim.
              </p>
              <p>
                <strong>E-Ticaret Simülasyonu:</strong> Hazır bir veritabanı kullanarak e-ticaret simülasyonu oluşturdum. Bu projede, veri tabanı entegrasyonunu ve e-ticaretin temel işlevlerini başarıyla simüle ettim.
              </p>
              <p>
                <strong>RentAcar:</strong> Araç kiralama ve yönetim sistemini içeren bir platform oluşturdum. Müşteri yönetimi, rezervasyon işlemleri ve araç kiralama gibi işlevleri barındıran bu projeyi geliştirerek gerçek hayattaki senaryolara yakın bir deneyim elde ettim.
              </p>
              <p>
                Bu projelerde, Spring Boot kullanarak PostgreSQL ve MySQL gibi ilişkisel veritabanlarına entegre oldum. Ayrıca Lombok, Spring Security, JWT Token, Postman ve Swagger gibi araçları kullanarak projelerimin güvenliğini ve etkileşimini artırdım. Backend geliştirme konusundaki yeteneklerimi, MVC yapısını ve hierarşiyi güçlendirdim.
              </p>
            </div>
            </div>

            <div>
              <hr class="section_hr" />
            </div>

          </div>
          <div class="split-container">
            <div class="split-box">
              <h3>Node Js</h3>
             <h3>Node.js kullanarak geliştirdiğim projeler:</h3>
        <p>
          Özellikle, üyelik sistemi, fotoğraf paylaşımı ve takip işlevlerini barındıran bir platform geliştirdim. Bu projede:
        </p>
       
          Kullanıcıların üye olabildiği, giriş yapabildiği ve kullanıcı profillerinde fotoğraflarını paylaşabildiği bir sistem oluşturdum.
          Fotoğraf sahiplerinin kendi paylaşımlarını yönetebildiği, fotoğrafları silebildiği, güncelleyebildiği ve açıklama ekleyebildiği özellikler ekledim.
          Kullanıcıların diğer kullanıcıları takip edebildiği ve takip ettikleri kullanıcıların paylaşımlarını görüntüleyebildiği bir takip sistemi entegre ettim.
        
        <p>
          MongoDB veritabanını kullanarak CRUD işlemlerini gerçekleştirdim. Ayrıca, token üretimi ve kullanıcı yetkilendirme gibi güvenlik önlemlerini uygulayarak projenin güvenliğini sağladım.
        </p>
        <h3>Kullanılan Paketler:</h3>
       
          <li><strong>bcrypt:</strong> Şifreleme işlemleri için kullanıldı.</li>
          <li><strong>cloudinary:</strong>  Fotoğraf yükleme ve depolama için entegrasyon sağlandı.</li>
          <li><strong>cookie-parser:</strong> Çerezleri işlemek için kullanıldı.</li>
          <li><strong>dotenv:</strong> Ortam değişkenlerini yönetmek için kullanıldı.</li>
          <li><strong>ejs:</strong> HTML şablonları oluşturmak için kullanıldı.</li>
          <li><strong>express:</strong> Web uygulaması sunucusu için kullanıldı.</li>
          <li><strong>express-fileupload:</strong>  Dosya yükleme işlemleri için kullanıldı</li>
          <li><strong>jsonwebtoken:</strong> Token tabanlı kimlik doğrulama için kullanıldı</li>
          <li><strong>method-override:</strong>  HTTP isteklerini işlemek için kullanıldı.</li>
          <li><strong>mongoose:</strong> MongoDB ile etkileşim için kullanıldı.</li>
          <li><strong>nodemailer: </strong> E-posta gönderme işlemleri için entegrasyon sağlandı.</li>
          <li><strong>validator:</strong> Veri doğrulama işlemleri için kullanıldı.</li>
          <li><strong>nodemon:</strong>  Geliştirme sürecini kolaylaştırmak için kullanıldı.</li>

        
        
        <p>
          Frontend kısmında hazır bir HTML template kullanarak, projenin arayüzünü geliştirdim ve backend ile entegrasyonunu sağladım.
        </p>
        <p>
          Bu projede Node.js ile backend geliştirme konusundaki becerilerimi genişlettikten sonra, kullanıcı odaklı ve güvenli uygulamaların nasıl oluşturulabileceği konusunda önemli bir deneyim elde ettim.
        </p>

        
        <section class="about_section layout_padding-bottom">
          <div class="new-info-box">
            <div class="heading_container">
              <h2>
                Beceriler
              </h2>
            </div>
          

            
                 <!-- daire kısmım -->
                 <div class="progress-wrapper">
                  <div class="progress-circle">
                    <svg class="progress-circle-svg" width="200" height="200">
                      <circle class="progress-circle-background" cx="100" cy="100" r="90"></circle>
                      <circle class="progress-circle-progress" cx="100" cy="100" r="90"></circle>
                    </svg>
                    <div class="percentage">70%</div>
                    <h4>Java</h4>
                  </div> 
                
                  <div class="new-progress-circle">
                    <svg class="new-progress-circle-svg" width="200" height="200">
                      <circle class="new-progress-circle-background" cx="100" cy="100" r="90"></circle>
                      <circle class="new-progress-circle-progress" cx="100" cy="100" r="90"></circle>
                    </svg>
                    <div class="new-percentage">50%</div>
                    <h4>Node.Js</h4>
                  </div>
                  
                
      
        <!-- bitişi -->
          </div>
        </div>
      </div>

        
    </section>
  </div>
    
    
    

    <!-- end about section -->

    <!-- project section -->

    <section class="project_section layout_padding-bottom" id="projects">
      <div class="container">
        <div class="heading_container">
          <h2>
           Projelerim
          </h2>
        </div>
        <div class="project_container layout_padding2-top">
          <div class="box">
            <img src="images/p-1.jpg" alt="" />
            <a href="https://github.com/AsimMertTopal/Hrms/tree/main/src/main/java/Hrms">
          <p>İnsan Kaynakları Projesi(Projeye Git)</p>
          
          </div>
          <div class="box">
            <img src="images/p-2.jpg" alt="" />
            <a href="https://github.com/AsimMertTopal/forumSite/tree/main/forumSite/src/main/java/questapp/forumSite">
            <p>Forum Site Projesi(Projeye Git)</p>
          </div>
          <div class="box">
            <img src="images/p-3.jpg" alt="" />
            <a href="https://github.com/AsimMertTopal/e-Commerce/tree/main/src/main/java/kodlamaio/northwind">
              <p>E-Ticaret Sitesi Projesi (Projeye Git)</p>
          </div>
          <div class="box">
            <img src="images/p-4.jpg" alt="" />
            <a href="https://github.com/AsimMertTopal?tab=repositories">
              <p>Fotoğrafçılık Blogu (Projeye Git)</p>
          </div>
          <div class="box">
            <img src="images/p-5.jpg" alt="" />
            <a href="https://github.com/AsimMertTopal/rentACar/tree/main/src/main/java/kodlama/io/rentACar">
              <p>Rent-A-Car Projesi(Projeye Git)</p>
          </div>
          <div class="box">
            <img src="images/p-6.jpg" alt="" />
            <a href="https://github.com/AsimMertTopal/unitStock/tree/main/src/main/java/com/example/unitStock">
              <p>Stok Takip Projesi (Projeye Git)</p>
          </div>
        
        </div>
      </div>
    </section>

    <!-- end project section -->

    <!-- expand section -->

    <section class="expand_section" id="info">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/yazılım.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h2>
              
Merhaba, Ben Asım Mert. 
              </h2>
              <p>
               
Ankara'da yaşıyorum 24 yaşındayım ve hem Hacıbayram Veli Üniversitesi'nde İktisat 4. sınıf öğrencisiyim
 hem de Eskişehir Anadolu Üniversitesi'nde Bilgisayar Programcılığı üzerine açıktan eğitim alıyorum.
  Ayrıca, Bilge Adam Akademisi'nde Java Full Stack Developer kursunu başarıyla tamamlamak üzereyim.
   Yazılım geliştirme konusunda kendimi sürekli geliştirmek adına günde minimum 6-7 saatimi bu alana ayırıyorum.
    Bu süreçte öğrenmekten keyif alıyor ve her yeni adımda kendimi daha da geliştirme fırsatı buluyorum. 
    İnançlı olduğum bir prensip var: Her gün bir adım daha ileri gitmek, her gün bilgisizliğimi azaltmak.
     Hatalarımı ve karşılaştığım sorunları aşarak öğrenme sürecimi zenginleştiriyorum.
      Şimdi gerçek projelerde çalışarak sektördeki deneyimimi ilerletmek ve bir şirkette kendimi geliştirme fırsatını yakalamak istiyorum.
       Hayatımın bir parçası haline gelen yazılım dünyasında, hem öğrenmeye hem de ilerlemeye devam etmek benim için heyecan verici bir yolculuk.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end expand section -->
    <div>
      <hr class="section_hr" />
    </div>
   
    <!-- end blog section -->

    <!-- contact section -->

    <section class="contact_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Mail Gönder
          </h2>
        </div>
        <div class="">
          <div class="">
            <div class="row">
              <div class="col-md-9 mx-auto">
                <div class="contact-form">
                  <form action="">
                    <div>
                      <input type="text" placeholder="Full Name " />
                    </div>
                    <div>
                      <input type="text" placeholder="Phone Number" />
                    </div>
                    <div>
                      <input type="email" placeholder="Email Address" />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="Message"
                        class="input_message"
                      />
                    </div>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn_on-hover">
                        Gönder
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end contact section -->

    <!-- info section -->
    <section class="info_section layout_padding-top layout_padding2-bottom">
      <div class="container">
        <div class="social_container">
          <h2>
            GitHub ve Linkedin Hesaplarım :
          </h2>
          <div class="social_box">
          
            <a href="https://github.com/AsimMertTopal?tab=repositories">
              <img src="images/gitHub.png" alt="" />
            </a>
            <a href="https://www.linkedin.com/in/as%C4%B1m-mert-topal-057176291/">
              <img src="images/linkedin.png" alt="" />
            </a>
           
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
      <div class="container">
        <p>
           İletişim Numaram
          <a >0506 065 78 73</a>
        </p>
      </div>
    </section>
    <!-- footer section -->

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    
    <script>

      
      function openNav() {
        document.getElementById("myNav").style.width = "100%";
      }
    
      function closeNav() {
        document.getElementById("myNav").style.width = "0%";

        window.addEventListener("scroll", function () {
  var navbar = document.querySelector(".header_section");
  if (window.scrollY > 50) {
    navbar.style.opacity = "0"; // Kullanıcı aşağı indikçe navbar'ın görünürlüğünü kapat
  } else {
    navbar.style.opacity = "1"; // Kullanıcı yukarı çıktıkça navbar'ı görünür yap
  }
});

      }
    </script>
    </script>
  </body>
</html>
